@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Shadows+Into+Light&display=swap');

body {
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    background: url('../bg/cow.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #4b2e2e;
}

.journal {
    display: flex;
    max-width: 1500px;
    margin: 40px auto;
    background: #fff3e6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
}

.page {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.page.gauche {
    border-right: 2px dashed #c49d79;
    font-family: 'Homemade Apple', cursive;
    font-size: 19px;

}

.page.droite img,
.page.droite video,
.page.droite audio {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
}

.controls {
    text-align: center;
    margin-bottom: 30px;
}

.controls button {
    font-family: inherit;
    font-size: 18px;
    background-color: #f2c6a0;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.controls button:hover {
    background-color: #eaa980;
}


#media-upload {
    border: 2px dashed #c49d79;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-top: 20px;
}

#media-upload.dragover {
    background-color: #fff0d5;
}
